<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}  <!--load static medias-->
    <title>data Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body onload="Toolbar.switchToolbar('favorites');">
<div class="gridWrapper">
    <div class="box-menu">   <!-- block for file upload -->
        <!-- Upload form. make sure use enctype attribute! -->
        <button class="menuButton" name="favorites" onclick="Toolbar.switchToolbar('favorites')">favorites</button>
        <button class="menuButton" name="math" onclick="Toolbar.switchToolbar('math')">math</button>
    </div>

    <div class="box-action">
        <input class="actionButton" type="image" src="{% static 'dashboard/start.png' %}" onclick="run()"></input>
    </div>
    <div class="box-account">
        <input class="actionButton" type="image" src="{% static 'dashboard/signup.png' %}" onload='this.style.display=
                ["inline-block", "none"][Number({{ loggedIn }})]' onclick="location.href = 'accounts/signup'"/>
        <input class="actionButton" type="image" src="{% static 'dashboard/login.png' %}" onload='this.style.display=
                ["inline-block", "none"][Number({{ loggedIn }})]' onclick="location.href = 'accounts/login'"/>
        <input class="actionButton" type="image" src="{% static 'dashboard/logout.png' %}" onload='this.style.display=
                ["none","inline-block"][Number({{ loggedIn }})]' onclick="location.href = 'accounts/logout'"/>
    </div>

    <!-- set default onclick action to none, which will be changed after its dragged to a block-->
    <div id="toolbarFavorites" name="favorites" class="box-toolbar">   <!-- block for file upload -->
        <button id="inputToolButton" nodeType="input" configPanelName="inputConfigs" backendFunctionName="loadInputSheetAsDataframe"
                class="toolbarButton" draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockConfigPanel.setFileNameClickable($(this).attr('configPanelName'));BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            input
        </button>
        <button id="deleteARowOrColumnButton" configPanelName="deleteARowOrColumnConfigs"  backendFunctionName="deleteARowOrColumn"
                class="toolbarButton" draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            del row
        </button>
        <button id="sortToolButton" class="toolbarButton" configPanelName="sortConfigs"  backendFunctionName="sortAColumn"
                draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            sort
        </button>
        <button id="filterToolButton" class="toolbarButton" configPanelName="filterConfigs" backendFunctionName="filterAColumn"
                draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            filter
        </button>
        <button id="outputToolButton" nodeType="endNode" class="toolbarButton" configPanelName="outputConfigs"
                backendFunctionName="downloadOutputFile" draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            output
        </button>
    </div>

    <div id="toolbarMath" name="math" class="box-toolbar">
    </div>

{#    configPanel ----------------------------------#}
    {% include 'configPanel/inputConfigs.html' %}
    {% include 'configPanel/deleteRowOrColumn.html' %}
    {% include 'configPanel/sortConfigs.html' %}
    {% include 'configPanel/filterConfigs.html' %}
    {% include 'configPanel/outputConfigs.html' %}
{#---------------------------------------------------#}

    <div class="box-graph">
        <div id="graphBlock0" number="0" class="graphBlock" ondrop="BlockGraph.drop(event, this)" ondragover="BlockGraph.allowDrop(event)"></div>
    </div>

    <div class="box-result">
        <p>This is the result area</p>
    </div>
</div>

{% include "dashboard/scripts.html" %}

</body>
</html>