<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}  <!--load static medias-->
    <title>data Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    {% include "dashboard/scripts.html" %}
    <!-- ---   -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body onload="Toolbar.switchToolbar('favorites');">
<div class="gridWrapper">
    <div class="box-menu  boxShadow">   <!-- block for file upload -->
        <!-- Upload form. make sure use enctype attribute! -->
        <button class="menuButton" name="favorites" onclick="Toolbar.switchToolbar('favorites')">Favorites</button>
        <button class="menuButton" name="math" onclick="Toolbar.switchToolbar('math')">Math</button>
    </div>
    <div class="box-action">
        <input class="actionButton" type="image" src="{% static 'dashboard/run.svg' %}" onclick="run()"></input>
        <input class="actionButton" type="image" src="{% static 'dashboard/save.svg' %}" onclick="save()"></input>

    </div>
    <div class="box-account">
        <input id="buttonToShowAccountPopup" class="accountButton" type="image" src="{% static 'dashboard/user.svg' %}" style="display: inline-block; width: 29px"
               onload="$sendGetAndCreatePopupBelow(this, 'accounts', newPopupId='accountPopup', align='right'); toggleAccountPopupOnEveryClick();" onclick="showAccountPopup()"/>
{#sinup login logout#}
    </div>

    <!-- set default onclick action to none, which will be changed after its dragged to a block-->
    <div id="toolbarFavorites" name="favorites" class="box-toolbar  boxShadow">   <!-- block for file upload -->
        <button id="inputToolButton" nodeType="input" name="input" configPanelName="inputConfigs" backendFunctionName="loadInputSheetAsDataframe"
                class="toolbarButton" draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockConfigPanel.setFileNameClickable($(this).attr('configPanelName'));BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            <img draggable="false" src="{% static 'dashboard/input.svg' %}" class="toolbarButtonImage"><br>
            input
        </button>
        <button id="deleteARowOrColumnButton" name="delRow" configPanelName="deleteARowOrColumnConfigs"  backendFunctionName="deleteARowOrColumn"
                class="toolbarButton" draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            <img draggable="false" src="{% static 'dashboard/deleteRow.svg' %}" class="toolbarButtonImage"><br>
            del row
        </button>
        <button id="sortToolButton" name="sort" class="toolbarButton" configPanelName="sortConfigs" backendFunctionName="sortAColumn"
                draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            <img draggable="false" src="{% static 'dashboard/sort.svg' %}" class="toolbarButtonImage"><br>
            sort
        </button>
        <button id="filterToolButton" name="filter" class="toolbarButton" configPanelName="filterConfigs" backendFunctionName="filterAColumn"
                draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            <img draggable="false" src="{% static 'dashboard/filter.svg' %}" class="toolbarButtonImage"><br>
            filter
        </button>
        <button id="outputToolButton" name="output" nodeType="endNode" class="toolbarButton" configPanelName="outputConfigs"
                backendFunctionName="downloadOutputFile" draggable="true" ondragstart="Toolbar.drag(event)" onclick=
                        "return 0; BlockGraph.showToolConfig($(this).attr('configPanelName'), $(this).attr('blockNumber'));">
            <img draggable="false" src="{% static 'dashboard/output.svg' %}" class="toolbarButtonImage"><br>
            output
        </button>
    </div>

    <div id="toolbarMath" name="math" class="box-toolbar">
    </div>

{#    configPanel ----------------------------------#}
    {% include 'configPanel/inputConfigs.html' %}
    {% include 'configPanel/deleteRowOrColumn.html' %}
    {% include 'configPanel/sortConfigs.html' %}
    {% include 'configPanel/filterConfigs.html' %}
    {% include 'configPanel/outputConfigs.html' %}
{#---------------------------------------------------#}

    <div class="box-graph boxShadow">
        {% include 'interactiveDemo/interactiveDemo.html' %}
    </div>

    <div class="box-result">
        <p>This is the result area</p>
    </div>
</div>

</body>
</html>