body {margin: 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI"; color: # }
input, button {font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI"; color: #697386}
.lightColorFont{
    color: #7b7b7b;
}
.gridWrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 113px 21% 15px repeat(1,minmax(400px, 1fr)) 120px 113px;
    grid-template-rows:    100px 51px 97px 15px 150px repeat(1,minmax(200px, 1fr)) 30%  50px;
    background-color: #e3e8ee;
}
[class*='box-']{ word-break: break-all; background-color: white;}
.boxShadow{box-shadow: 0 7px 14px 0 rgba(60,66,87,.08), 0 3px 6px 0 rgba(0,0,0,.12)}
.marginBox-top {
    grid-row-start:    1;
    grid-row-end:      2;
    grid-column-start: 1;
    grid-column-end:   7;
}
.marginBox-bottom {
    grid-row-start:    8;
    grid-row-end:      9;
    grid-column-start: 1;
    grid-column-end:   7;
}
.marginBox-left {
    grid-row-start:    1;
    grid-row-end:      9;
    grid-column-start: 1;
    grid-column-end:   2;
}
.
 marginBox-right {
    grid-row-start:    1;
    grid-row-end:      9;
    grid-column-start: 6;
    grid-column-end:   7;
}
.box-menu {
    grid-row-start:    2;
    grid-row-end:      3;
    grid-column-start: 4;
    grid-column-end:   6;
}
.box-action {
    grid-row-start:    5;
    grid-row-end:      6;
    grid-column-start: 5;
    grid-column-end:   6;
    background-color: transparent;
    display: inline-block;
    z-index: 300;
    /*flex-grow: 1;*/
    /*flex-direction: column;*/
    text-align: right;
}
.actionButton {
    width: 100px;
    display: flex;
    align-items: end;
    margin-top: 20px;
    margin-right: 20px;
}
.box-account {
    display: flex;
    background-color: transparent;
    grid-row-start:    1;
    grid-row-end:      2;
    grid-column-start: 4;
    grid-column-end:   6;
	align-items: center;
	justify-content: flex-end;
    padding: 5px 0;
}
.box-toolbar {
    grid-row-start:    3;
    grid-row-end:      4;
    grid-column-start: 4;
    grid-column-end:   6;
    display: flex;
    align-items: center;
    padding: 0 68px;
}
.toolbarButton {
    background-color: transparent;
    border: transparent;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 30px ;
    padding: 0;
}
.toolbarButtonImage {
    width: 68px;
    cursor: grab;
    outline: 0px solid transparent;
}
.box-configPanel {
    grid-row-start:    2;
    grid-row-end:      8;
    grid-column-start: 2;
    grid-column-end:   3;
    display: none;
}
.box-upperConfigPanel {
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid #e3e8ee;
    text-align: center;
}
.box-lowerConfigPanel {
    border: none;
    text-align: center;
}
.box-graph {
    grid-row-start:    5;
    grid-row-end:      8;
    grid-column-start: 4;
    grid-column-end:   6;
    padding: 20px;
    border: none;
    display: flex;
}
.box-result {
    grid-row-start:    6;
    grid-row-end:      7;
    grid-column-start: 4;
    grid-column-end:   5;
    display: none;
}
.menuButton {
    border: 1px solid #e3e8ee;
    color: #697386;
    font-size: 16px;
    font-weight: normal;
    height: 100%;
    width: 264px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 0;
    cursor: pointer;
    background-color: white;
}
.additionalStyleForSeletedMenuButton {
    border-bottom: 2px solid #1fa2ff;
    color: #1fa2ff;
    font-weight: bold;
}

.accountButton {
    display: inline-block;
    margin: 0 5px;
}

.toolButtonInGraph {
    background-color: white;
    border: none;
    height: 2cm;
    width: 2cm;
    cursor: pointer;
}
.graphBlock {
    width: 2.5cm;
    height: 2.5cm;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}
.arrowImg {
    height: 1cm;
    vertical-align: middle;
}
.fileListButton{
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    background-color: lightgray;
}
.fileList {
    border: none;
    text-align: left;
    text-decoration: none;
}
