{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--  rete -->
    <script src={% static './interactiveDemo/node_modules/vue/dist/vue.js' %}></script>
    <script src={% static './interactiveDemo/node_modules/rete/build/rete.min.js' %}></script>
    <script src={% static './interactiveDemo/node_modules/rete-vue-render-plugin/build/vue-render-plugin.min.js' %}></script>
    <script src={% static './interactiveDemo/node_modules/rete-connection-plugin/build/connection-plugin.min.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/rete-context-menu-plugin/build/context-menu-plugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rete-area-plugin/build/area-plugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/rete-comment-plugin/build/comment-plugin.min.js"></script>
    <script src={% static './interactiveDemo/node_modules/rete-history-plugin/build/history-plugin.min.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/rete-connection-mastery-plugin/build/connection-mastery-plugin.min.js"></script>
    <style>
        body, html{height: 100%; width: 100%}
        .toolbar{height: 150px; border-bottom: 10px solid cornflowerblue }
        .dropArea{height: 100%}
    </style>
</head>
<body>
    <div class="toolbar">
        <button id="inputToolButton" draggable="true" >
            input
        </button>
    </div>
    <div id="interactiveDemoCanvas" class="dropArea" ondragover="allowDrop(event)" ondrop="addNodeBlock(event)"></div>


    <script>
                //util functions
        {
            function assert(condition, message) {
                if (!condition) {
                    throw message || "Assertion failed";
                }
            }

            function assertAlert(condition, message) {
                if (!condition) {
                    alert(message || "Assertion failed");
                    throw message || "Assertion failed";

                }
            }

            function tempAlert(msg, duration) {
                var el = document.createElement("div");
                el.setAttribute("style", "position:absolute;top:40%;left:20%;background-color:white;");
                el.innerHTML = msg;
                setTimeout(function () {
                    el.parentNode.removeChild(el);
                }, duration);
                document.body.appendChild(el);
            }

            function allowDrop(event) {
                event.preventDefault();
            }

            function drag(ev) {
                ev.dataTransfer.setData("toolID",ev.target.id);
            }
        }
    </script>
    {% include "interactiveDemo/scripts.html" %}
</body>
</html>