{% load static %}
<div id="inputConfigPanel" name="inputConfigs" class="box-configPanel boxShadow" style="display: block">
    <div name="upload" class="box-upperConfigPanel">   <!-- block for file upload -->
        <!-- Upload form. make sure use enctype attribute! -->
        <p style="font-size: 31px; color: #1fa2ff; font-style: normal">Input</p>
        <form action="{% url 'uploadFile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class="lightColorFont">{{ form.non_field_errors }}</p>
            <p>
                <span class="lightColorFont" style="font-size: 16px">{{ form.fileField.label_tag }}</span><br>
                <span class="lightColorFont" style="font-size: 14px">({{ form.fileField.help_text }})</span>
                <br><br>
            </p>
            <p><input type="image" src="{% static 'dashboard/choose-file.svg' %}" width="120px" value="Choose" onclick="selectFileToUpload()"/></p>
            <div id="hiddenFileUploadInputField" style='height: 0px;width:0px; overflow:hidden;'>{{ form.fileField.errors }}{{ form.fileField }}</div>
            <script>
                 $('#hiddenFileUploadInputField').children('input').change(function(e){
                    var fileName = e.target.files[0].name;
                    $('#selectedUploadFileName').html(fileName);
                });
            </script>
            <p><input style="display: none" type="image" src="{% static 'dashboard/upload.svg' %}" width="120px" value="Upload"
             onclick="submitFileForm(this)"/></p>
        </form>
    </div>
    <div id="listFileToolDetails" name="listFiles" class="box-lowerConfigPanel">
        <p style="font-size: 26px; color: #1fa2ff; font-style: normal">My Cloud Drive</p>
        {% include 'configPanel/uploadedFileList.html' %}
    </div>
</div>
<script>
    function selectFileToUpload() {
        var fileFieldDiv = $('#hiddenFileUploadInputField');
        var fileFieldInput = fileFieldDiv.children('input');
        debugger
        fileFieldInput.click();
    }
    function submitFileForm(elem) {
        send$Form($(elem.closest('form')), reloadDivID='listFileToolDetails');
    }
</script>
